<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder 
	location="classpath:spr/props/db.properties"/>
	
	
	
	<bean id="dataSource"
	class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>	
	
	
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" 
			value="classpath:spr/mybatis/mapper/*.xml"/>
	</bean>
	
	<bean id="ss" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="factory"/>
	</bean>
	
	<!-- 사용자가 정의한 DAO객체 -->
	<bean id="dao" class="spr.mybatis.dao.MemberDAO" autowire="byName">
		<property name="ss" ref="ss"/>
	</bean>
	
	
	<!-- bdao는 게시판을 처리하는 dao를 불러낸다. -->
	<bean id="bdao" class="spr.mybatis.dao.BoardDAO" autowire="byName">
		<property name="ss" ref="ss"/>
	</bean>
	
	
	<!-- rdao는 게시판을 처리하는 dao를 불러낸다. -->
	<bean id="rdao" class="spr.mybatis.dao.ReplyDAO" autowire="byName">
		<property name="ss" ref="ss"/>
	</bean>
	
	
</beans>









